h1 {

    color: blue;
    text-align: center;
    font-family: Arial, Verdana, Helvetica;
}

body {

    background: yellow;
}

.p1, .p2, .p3 {

    font-size: 20px;
    text-align: center;
}

.p1 {

    color: white;
}

.p2 {

    color: green;
}

.p3 {

    color: red;
}


